.container-fluid
  .row-fluid
    .hero-unit.span12.text-center
      h1 Create goban
      hr.space
      .well
        form(action="/" method="POST")
          p
            input.span1#x(name="x" placeholder="Width")
            span x
            input.span1#y(name="y" placeholder="Height")
          p
            input.span2#b(name="b" placeholder="Your name")
          -# p
            -# input#komi(name="komi" placeholder="Komi")
          p
            button.btn.btn-primary.btn-large(type="submit") Let's play!