-@ val board: com.github.joonasrouhiainen.joogo.Board

h1 JooGo

p Play go online with JooGo!

p Board

pre
	= board

p = "It's " + board.whoseTurn + "'s turn."
p = "Captured stones: " + board.capturesForColors

form(action="/pass" method="POST")
	button(type="submit") Pass turn

form(action="/" method="POST")
	input#x(name="x")
	input#y(name="y")
	button(type="submit") Make a move!)