- import com.github.joonasrouhiainen.joogo.model._

-@ val games: Iterable[Game]

.container-fluid
  .row-fluid
    .hero-unit.span12.text-center
      h1 All games
      hr.space
      .well
        table.table.table-striped
          - if (games isEmpty)
            tbody No games found on server.
          - else
            thead
              tr
                th Black
                th White
                th Board
                th Result
            tbody
              - games map
                - (game: Game) =>
                  tr
                    td= game.players(Black).id
                    td= game.players(White).id
                    td= game.board.width + "x" + game.board.height
                    td
                      = if (game isFinished) { game.result getOrElse "no result" } else "Unfinished"